absl-py==1.2.0
alembic==1.8.1
altair==4.2.0
anyio==3.6.1
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
argparse==1.4.0
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
attrs==21.4.0
babel==2.10.3
backcall==0.2.0
backports.functools-lru-cache==1.6.4
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.4
bokeh==2.4.3
bottleneck==1.3.5
brotlipy==0.7.0
cached-property==1.5.2
cachetools==5.2.0
certifi==2022.6.15
certipy==0.1.3
cffi==1.15.1
charset-normalizer==2.1.0
click==8.1.3
cloudpickle==2.1.0
colorama==0.4.5
conda-package-handling==1.8.1
conda==4.13.0
cryptography==37.0.4
csbdeep==0.7.2
cycler==0.11.0
cython==0.29.30
cytoolz==0.12.0
dask==2022.7.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.5.1
distributed==2022.7.0
docker-pycreds==0.4.0
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.16.1
filelock==3.8.2
flatbuffers==2.0
flit-core==3.7.1
fonttools==4.34.4
fsspec==2022.5.0
gast==0.5.3
gdown==4.6.0
gdrive==0.1.5
gitdb==4.0.10
gitpython==3.1.29
gmpy2==2.1.2
google-api-core==2.11.0
google-api-python-client==2.43.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.3
google-auth==2.15.0
google-pasta==0.2.0
googleapis-common-protos==1.57.0
graphviz==0.19.1
greenlet==1.1.2
grpcio==1.47.0
h5py==3.7.0
heapdict==1.0.1
httplib2==0.21.0
huggingface-hub==0.11.1
idna==3.3
imagecodecs==2022.2.22
imageio==2.19.3
importlib-metadata==4.11.4
importlib-resources==5.8.0
ipykernel==6.15.1
ipyleaflet==0.17.0
ipympl==0.9.1
ipython-genutils==0.2.0
ipython==8.4.0
ipywidgets==7.7.1
jedi==0.18.1
jeepney==0.8.0
jinja2==3.1.2
joblib==1.1.0
json5==0.9.5
jsonschema==4.7.2
jupyter-client==7.3.4
jupyter-contrib-core==0.4.0
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.11.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.5.0
jupyter-server==1.18.1
jupyter-telemetry==0.1.0
jupyterhub==2.3.1
jupyterlab-drawio==0.9.0
jupyterlab-pygments==0.2.2
jupyterlab-server==2.15.0
jupyterlab-widgets==1.1.1
jupyterlab==3.4.3
keras-preprocessing==1.1.2
keras==2.8.0
kiwisolver==1.4.4
libclang==14.0.1
libmambapy==0.24.0
llvmlite==0.38.1
locket==1.0.0
lxml==4.9.1
lz4==4.0.0
mako==1.2.1
mamba==0.24.0
markdown==3.4.1
markupsafe==2.1.1
matplotlib-inline==0.1.3
matplotlib==3.5.2
mistune==0.8.4
mpmath==1.2.1
msgpack==1.0.4
munkres==1.1.4
nbclassic==0.4.3
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.5
notebook-shim==0.1.0
notebook==6.4.12
numba==0.55.2
numexpr==2.7.3
numpy==1.22.4
oauthlib==3.2.0
opencv-python==4.6.0.66
opt-einsum==3.3.0
packaging==21.3
pamela==1.0.0
pandas==1.4.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.2.0
pathtools==0.1.2
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.2.0
pip==22.2
plotly==5.9.0
prometheus-client==0.14.1
promise==2.3
prompt-toolkit==3.0.30
protobuf==4.21.12
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycosat==0.6.3
pycparser==2.21
pycurl==7.45.1
pygments==2.12.0
pyjwt==2.4.0
pyopenssl==22.0.0
pyparsing==3.0.9
pyrsistent==0.18.1
pysocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.21.0
python-json-logger==2.0.1
pytz==2022.1
pywavelets==1.3.0
pyyaml==6.0
pyzmq==23.2.0
requests-oauthlib==1.3.1
requests==2.28.1
rise==5.7.1
rsa==4.9
ruamel-yaml-conda==0.15.80
ruamel.yaml.clib==0.2.6
ruamel.yaml==0.17.21
scikit-image==0.19.3
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
secretstorage==3.3.3
send2trash==1.8.0
sentry-sdk==1.12.1
setproctitle==1.3.2
setuptools==59.6.0
shortuuid==1.0.11
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sqlalchemy==1.4.39
stack-data==0.3.0
stardist==0.8.3
statsmodels==0.13.2
sympy==1.10.1
tables==3.7.0
tblib==1.7.0
tenacity==8.0.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.8.0
tensorflow-estimator==2.8.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow==2.8.2
termcolor==1.1.0
terminado==0.15.0
threadpoolctl==3.1.0
tifffile==2022.5.4
timm==0.6.12
tinycss2==1.1.1
toolz==0.12.0
torch==1.12.0+cu116
torchaudio==0.12.0+cu116
torchvision==0.13.0+cu116
torchviz==0.0.2
tornado==6.1
tqdm==4.64.0
traitlets==5.3.0
traittypes==0.2.1
typing-extensions==4.3.0
unicodedata2==14.0.0
uritemplate==4.1.1
urllib3==1.26.13
versioneer==0.28
wandb==0.13.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.3
werkzeug==2.1.2
wheel==0.37.1
widgetsnbextension==3.6.1
wrapt==1.14.1
xlrd==2.0.1
xyzservices==2022.6.0
zict==2.2.0
zipp==3.8.0